@charset "utf-8";

// -------------------------------------------
// 
//  INDEX
// 
// -------------------------------------------
//    @import
// -------------------------------------------
//    mixin
// -------------------------------------------
//    button -- bl__btnSquare
// -------------------------------------------
//    animation -- smoke
// -------------------------------------------



//    @import
// -------------------------------------------
@import "../vars";



//    mixin
// -------------------------------------------
@mixin transition($duration: 0.3s) {
  transition: ease $duration;
}

@mixin baseLink($color:#333, $display:block) {
  display: $display;
  color: $color;
  text-decoration: none;
}



//    button -- bl__btnSquare
// -------------------------------------------
.bl__btnSquare {
  @include baseLink();

  overflow: hidden;
  background: #fff;
  border-radius: 12px;
  box-shadow: 4px 4px 5px 1px rgba(#a19393, 0.23);

  &__top {
    position: relative;
    padding: 1.5em 0.7em 2em;
    background: #a19393;

    &::after {
      position: absolute;
      bottom: 15px;
      left: -15px;
      display: block;
      width: calc(100% + 30px);
      height: 1px;
      content: "";
      background: #d1c2c2;
    }
  }

  &__bottom {
    @include transition();
  }

  &:hover {
    .bl__btnSquare__bottom {
      background: #d1c2c2;
    }
  }
}


//    animation -- smoke
// -------------------------------------------
.bl__smoke {
  &__parent {
    position: relative;
  }

  &__item {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url(/assets/img/smoke.png) no-repeat;
    background-size: cover;
    opacity: 0;
  }

  &__inner {
    position: relative;
    z-index: 1;
    padding: 1.5em 0 0;
  }

  &:hover {
    .bl__smoke__item {
      animation: smoke 1s ease;
    }
  }
}

@keyframes smoke {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}