@charset "utf-8";


/***************************  common  ***************************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  width: auto;

  @include media-query(sp-tab) {
    width: 100%;
  }
}

ul {
  padding-left: 2em;
}

.txC {
  text-align: center;
}

.txL {
  text-align: left;
}

.txR {
  text-align: right;
}

.ftB {
  font-weight: bold;
}

.small {
  font-size: 75%;
}

.big {
  font-size: 140%;
}

.bigger {
  font-size: 180%;
}

.d-block {
  display: block;
}

.d-inBlock {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.colorRed {
  color: red;
}

.linkHover {
  @include transition();

  &:hover {
    opacity: 0.6;
  }
}

.linkHoverSubtle {
  @include transition();

  &:hover {
    opacity: 0.85;
  }
}


// padding-top
.pdT20 {
  padding-top: 20px;

  @include media-query(sp-tab) {
    padding-top: 10px;
  }
}

.pdT40 {
  padding-top: 40px;

  @include media-query(sp-tab) {
    padding-top: 20px;
  }
}

.pdT60 {
  padding-top: 60px;

  @include media-query(sp-tab) {
    padding-top: 30px;
  }
}

.pdT80 {
  padding-top: 80px;

  @include media-query(sp-tab) {
    padding-top: 40px;
  }
}

.pdT100 {
  padding-top: 100px;

  @include media-query(sp-tab) {
    padding-top: 50px;
  }
}

.pdT150 {
  padding-top: 150px;

  @include media-query(sp-tab) {
    padding-top: 75px;
  }
}



// margin-top
.mgT20 {
  margin-top: 20px;

  @include media-query(sp-tab) {
    margin-top: 10px;
  }
}

.mgT40 {
  margin-top: 40px;

  @include media-query(sp-tab) {
    margin-top: 20px;
  }
}

.mgT60 {
  margin-top: 60px;

  @include media-query(sp-tab) {
    margin-top: 30px;
  }
}

.mgT80 {
  margin-top: 80px;

  @include media-query(sp-tab) {
    margin-top: 40px;
  }
}

.mgT100 {
  margin-top: 100px;

  @include media-query(sp-tab) {
    margin-top: 50px;
  }
}

.mgT150 {
  margin-top: 150px;

  @include media-query(sp-tab) {
    margin-top: 75px;
  }
}



// padding-bottom
.pdB20 {
  padding-bottom: 20px;

  @include media-query(sp-tab) {
    padding-bottom: 10px;
  }
}

.pdB40 {
  padding-bottom: 40px;

  @include media-query(sp-tab) {
    padding-bottom: 20px;
  }
}

.pdB60 {
  padding-bottom: 60px;

  @include media-query(sp-tab) {
    padding-bottom: 30px;
  }
}

.pdB80 {
  padding-bottom: 80px;

  @include media-query(sp-tab) {
    padding-bottom: 40px;
  }
}

.pdB100 {
  padding-bottom: 100px;

  @include media-query(sp-tab) {
    padding-bottom: 50px;
  }
}

.pdB150 {
  padding-bottom: 150px;

  @include media-query(sp-tab) {
    padding-bottom: 75px;
  }
}



// margin-bottom
.mgB20 {
  margin-bottom: 20px;

  @include media-query(sp-tab) {
    margin-bottom: 10px;
  }
}

.mgB40 {
  margin-bottom: 40px;

  @include media-query(sp-tab) {
    margin-bottom: 20px;
  }
}

.mgB60 {
  margin-bottom: 60px;

  @include media-query(sp-tab) {
    margin-bottom: 30px;
  }
}

.mgB80 {
  margin-bottom: 80px;

  @include media-query(sp-tab) {
    margin-bottom: 40px;
  }
}

.mgB100 {
  margin-bottom: 100px;

  @include media-query(sp-tab) {
    margin-bottom: 50px;
  }
}

.mgB150 {
  margin-bottom: 150px;

  @include media-query(sp-tab) {
    margin-bottom: 75px;
  }
}



// padding-top, padding-bottom
.pdTB20 {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-query(sp-tab) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.pdTB40 {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media-query(sp-tab) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pdTB60 {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-query(sp-tab) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.pdTB80 {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media-query(sp-tab) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.pdTB100 {
  padding-top: 100px;
  padding-bottom: 100px;

  @include media-query(sp-tab) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.pdTB150 {
  padding-top: 150px;
  padding-bottom: 150px;

  @include media-query(sp-tab) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}



// margin-top, margin-bottom
.mgTB20 {
  margin-top: 20px;
  margin-bottom: 20px;

  @include media-query(sp-tab) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.mgTB40 {
  margin-top: 40px;
  margin-bottom: 40px;

  @include media-query(sp-tab) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.mgTB60 {
  margin-top: 60px;
  margin-bottom: 60px;

  @include media-query(sp-tab) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.mgTB80 {
  margin-top: 80px;
  margin-bottom: 80px;

  @include media-query(sp-tab) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.mgTB100 {
  margin-top: 100px;
  margin-bottom: 100px;

  @include media-query(sp-tab) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.mgTB150 {
  margin-top: 150px;
  margin-bottom: 150px;

  @include media-query(sp-tab) {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}



.pc {
  @include media-query(tab) {
    display: none;
  }

  @include media-query(sp) {
    display: none;
  }
}

.tab {
  @include media-query(pc) {
    display: none;
  }

  @include media-query(sp) {
    display: none;
  }
}

.sp {
  @include media-query(pc) {
    display: none;
  }

  @include media-query(tab) {
    display: none;
  }
}

.tab-pc {
  @include media-query(sp) {
    display: none;
  }
}

.sp-tab {
  @include media-query(pc) {
    display: none;
  }
}