@charset "UTF-8";

$screen-sizes: ('sp': 'screen and (max-width: 640px)',
  'tab': 'screen and (min-width: 641px) and (max-width: 1024px)',
  'pc': 'screen and (min-width: 1025px)',
  'tab-pc': 'screen and (min-width: 641px)',
  'sp-tab': 'screen and (max-width: 1024px)'
) !default;

$fixedWidth: 950px;
$narrowWidth: 600px;

$white: #f6f6f6;
$lighterOrange: #D9A384;
$skinGray:#BFA89B;
$reddySand: #BF7960;
$skinBrown: #734939;
$darkerSkin: #260101;

$thicLine: 18px;