@charset "utf-8";

// -------------------------------------------
// 
//  INDEX
// 
// -------------------------------------------
//    @import
// -------------------------------------------



//    @import
// -------------------------------------------
@import "normalize";
@import "vars";
@import "mixin";
@import "common";
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

.page__parts {
  background: url(/assets/img/wild_flowers.png) repeat;

  &__container {
    font-family: 'Kosugi', sans-serif;
    color: $darkerSkin;
    background: rgba($skinGray, .4);
  }

  .bl__fixedWidth {
    width: $fixedWidth;
    margin: 0 auto;
  }

  .el__ttl {
    font-size: 6rem;
    letter-spacing: .1em;
    margin: 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 18px;
      background: $darkerSkin;
      margin: .5em auto;
    }
  }

  .bl__parts {
    background: rgba($lighterOrange, .5);

    &:nth-child(2n) {
      background: rgba($skinGray, .5);
    }
  }
}